flask
slack_bolt
python-dotenv
numpy
pandas
datetime
seaborn
plotly
matplotlib
azure.cognitiveservices.speech

azure.functions
azure.storage.blob
slack_sdk
slackeventsapi

deepl

numpy
pandas
mysql.connector
pathlib
scipy
